<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
   <staticContent>
      <!-- https://ppolyzos.com/2016/03/16/mime-types-missing-in-azure-websites/ -->
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="index.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="home.aspx" />
        <add value="home.asp" />
        <add value="home.htm" />
        <add value="home.html" />
        <add value="default.aspx" />
        <add value="default.asp" />
        <add value="default.htm" />
        <add value="default.html" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Force redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="true" />
        </rule>
        <rule name="fancymouse - add htm extension" stopProcessing="true">
          <match url="^projects/fancymouse" />
          <action type="Rewrite" url="projects/fancymouse.htm" appendQueryString="true" />
        </rule>
        <rule name="pifacesharp - add htm extension" stopProcessing="true">
          <match url="^projects/pifacesharp" />
          <action type="Rewrite" url="projects/pifacesharp.htm" appendQueryString="true" />
        </rule>
        <rule name="mofparser - add htm extension" stopProcessing="true">
          <match url="^projects/mofparser" />
          <action type="Rewrite" url="projects/mofparser.htm" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
